/* :root, HTML DE TODA LA APP, VARIABLES REUTILIZABLES -- */
:root {
    --primary: #2563eb;
    --background: #f5f7fa;
    --surface: #f5f7fa; /* color de cards */
    --text-primary: #0f172a;
    --text-secondary: #64748b;
    --border-color: #e2e8f0;
    --radius:12px; /* redondeo esquinas */
}

/* *, SE APLICA A TODOS LOS ELEMENTOS */
* {
    margin:0; /* espacio fuera del borde */
    padding:0; /* espacio dentro del borde */
    box-sizing: border-box; /* tamaño max fijo establecido */
}

/* BODY */
body {
    font-family: Inter, sans-serif;
    background: var(--background);
    color: var(--text-primary);
    line-height: 1.5; /* espacio entre líneas */
}

/* COMPONENTES VISUALES REUTILIZABLES */
.btn-primary {
    background: var(--primary);
    color:white; /* texto */
    border: none; /* quitamos borde por defecto */
    padding: 18px 20px; /* primer valor arriba abajo y segundo valor izq dcha*/
    border-radius: var(--radius);
    cursor: pointer; /* ratón mano */
    font-size: 16px;
    font-weight: 600; /* grosor letra */
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.2);
    transition: all 0.2s ease; /* propiedades, duración, aceleración*/
    &:hover { /* cuando ratón pasa por encima cambia */
        transform: translateY(-2px);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
    }
}

.card {
    background: var(--surface);
    border-radius: 16px;
    padding: 32px;
    border: 1px solid var(--border-color); /* grosor, estilo y color */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* horizontal, sombra, difuminar, color */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    &:hover {
        transform: translateY(-4px); 
    }
}

.input {
    width: 100%; /* todo el ancho posible */
    padding: 18px 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    background: #f8fafc;
    font-size: 14px;
    outline: none; /* borde predetermiando del navegador */
    transition: all 0.2s ease;
    &:focus { /* cuando haces click dentro del input cambia */
        outline: none;
        border-color: var(--primary);
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
    }
}

/* ANCHURA MAX PÁGINA */
.container {
    max-width: 1200px; /* ancho max */
    margin: 0 auto; /* centra contenido */
    padding: 24px; /* espacio en laterales */
}

/* CLASES Y LINKS GLOBALES */
.auth-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.auth-card {
    background-color: white;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.auth-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 24px;
    text-align: center;
}

.auth-title {
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
}

.auth-subtitle {
    color: var(--text-secondary);
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
}

/* COMPONENTE FORMULARIO REUTILIZABLE */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-label{
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-secondary);
}

.form-footer {
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.95rem;
    a {
        margin-left: 4px;
    }
}

@media (max-width: 1024px) {
    .auth-container {
        min-height: auto;
        padding-top: 3rem;
    }
}